= label_tag field.name do
  = @resource.model.human_attribute_name(field.name)
  - if field.options[:required]
    %span.text-muted.m-l-1
      %i.fa.fa-exclamation-circle{ 'data-toggle' => :tooltip, 'data-placement' => :right, :title => 'Required' }
  - if %i(belongs_to has_many).include?(field.type)
    %span.text-muted.m-l-1.uncheck-associations
      %i.fa.fa-remove{ 'data-toggle' => :tooltip, 'data-placement' => :right, :title => 'Uncheck all' }
