.card.bg-faded
  .card-block
    = search_form_for @q do |f|
      - @resource.attributes.ransack.each_value do |attribute|
        - if attribute.show?
          %fieldset.form-group
            = f.label attribute.ransack_name, @resource.model.human_attribute_name(attribute.name),
              class: 'text-muted'
            = f.search_field attribute.ransack_name, class: 'form-control'
      = f.submit class: 'btn btn-primary-outline'
