= form_for @entry do |f|
  - @columns_for_form.each do |column|
    %fieldset.form-group
      = f.label column.name
      = f.text_field column.name, class: 'form-control'
  %fieldset.form-group
    = f.submit 'Submit', class: 'btn btn-primary'
