.alert.alert-dismissible.fade.in.m-b-1{ :class => "alert-#{ type }" }
  %button.close{ 'aria-label' => 'Close', 'data-dismiss' => :alert, :type => :button }
    %span{ 'aria-hidden' => true } &#215;
  = message
